
<footer class="footer">
  <div class="container">
    <div class="footer-grid">

      <!-- Marca -->
      <div>
        <div class="nav-logo">
          <div class="nav-logo-icon">
            <img
              src="/logo_aeroGest.png"
              alt="Logo de AeroGest" width="200px" height="200px"
            >
          </div>

          <span class="nav-logo-text">
            Aero<span>Gest</span>
          </span>
        </div>

        <p class="footer-brand-desc">
          Conectamos destinos y personas. Volamos con excelencia,
          puntualidad y el servicio que merecés.
        </p>
      </div>

      <!-- Vuelos -->
      <div>
        <p class="footer-heading">Vuelos</p>

        <ul class="footer-links">
          <li><a routerLink="/vuelos">Buscar vuelos</a></li>
          <li><a routerLink="/vuelos">Vuelos baratos</a></li>
          <li><a routerLink="/vuelos">Internacionales</a></li>
          <li><a routerLink="/vuelos">Cabotaje</a></li>
        </ul>
      </div>

      <!-- Servicios -->
      <div>
        <p class="footer-heading">Servicios</p>

        <ul class="footer-links">
          <li><a routerLink="/reservas">Mis reservas</a></li>
          <li><a routerLink="/check-in">Check-in online</a></li>
          <li><a routerLink="/equipaje">Equipaje</a></li>
          <li><a routerLink="/viajero-frecuente">Viajero frecuente</a></li>
        </ul>
      </div>

      <!-- Ayuda -->
      <div>
        <p class="footer-heading">Ayuda</p>

        <ul class="footer-links">
          <li><a routerLink="/ayuda">Centro de ayuda</a></li>
          <li><a routerLink="/contacto">Contacto</a></li>
          <li><a routerLink="/politicas">Políticas</a></li>
          <li><a routerLink="/accesibilidad">Accesibilidad</a></li>
        </ul>
      </div>

    </div>

    <!-- Pie inferior -->
    <div class="footer-bottom">
      <span>© 2026 AeroGest. Todos los derechos reservados.</span>

      <div class="footer-legal-links">
        <a routerLink="/privacidad">Privacidad</a>
        <a routerLink="/terminos">Términos</a>
      </div>
    </div>
  </div>
</footer>
